.fig {
    text-align: center; /* Выравнивание по центру */
   }
.имя   {
    text-align: center; font-weight: 800 ; font-style: oblique ; font-size: 23pt; 
   
  width: 100%/* Выравнивание по центру */
   }
.ПТУ {
    text-align: center; 
   }
#block-body
 {
text-align: left;
width: 450px;
height: 740px;
border: 3px solid #DEB887; 
margin:0 auto ;
background: #FFF8DC;
}

 
